div.sample{
  height: 100px;
  background-color: skyblue;
  font-weight: bold;
  position: relative;
}

div.dummy{
  height: 100px;
  background-color: turquoise;
}

div.sample1{
  background-color: black;
  color: red;
  position: static;
  top: 10px;
  left: 10px;
}

div.sample2{
  background-color: black;
  color:red;
  position:relative;
  top:10px;
  left:10px;
}

div.sample3{
  background-color: black;
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}

div.sample4 {
  background-color: black;
  color: red;
  position: fixed;
  top: 10px;
  left: 10px;
}

.parent {
  padding: 20px;
  position: relative;
}
#absolute {
  position: absolute;
  top: 0px;
  left: 0px;
}
